{% extends "item_catalog/base.html" %}

{% block header %}
{% include "item_catalog/btn_edit_logout.html" %}

{% endblock %}


{% block content %}

<script type='text/javascript'>


    function edititem(t, d, c){

        $('#titleidmodal').val(t);
        $('#desciptionidmodal').val(d);
        $('#categoryidmodal').val(c);
        $('#oldtitleidmodal').val(t);
        var l = '/item_catalog/edititem/';
        $('#modal_form').attr('action', l);
        $('#myModalNorm').modal("show");
    }
    function func(){
        $('#myModalNorm').modal("show");

    }
</script>

<div class="container">
    {% if messages %}
    <div class='container'>
        <div>
            {% for message in messages %}
            <div class="alert alert-danger">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{ message }}
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if user_name %}
    <section>
        Welcome back <b>{{ name }}</b>
        <br/>
    </section>

    {% endif %}



    <hr>



    <div class="container">
        <!-- Modal for the update pop up window. -->
        <div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">
                            Add Item Details
                        </h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">

                        <form id="modal_form" role="form" method="post" action="">
                            <div class="form-group">
                                <label for="titlemodal">Title</label>
                                <input type="text" class="form-control"
                                       id="titleidmodal" name='title' placeholder="Title"/>
                            </div>
                            <div class="form-group">
                                <label for="desciptionmodal">Description</label>
                                <input type="text" class="form-control"
                                       id="desciptionidmodal" name='description' placeholder="Description"/>
                                <input type="hidden" class="form-control"
                                       id="categoryidmodal" name='category' />
                                <input type="hidden" class="form-control"
                                       id="oldtitleidmodal" name='oldtitle' />
                            </div>

                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>


                    </div>


                </div>
            </div>
        </div>

        <div class = "container">
        <div class = "col-sm-4 col-md-4">


        </div>

        <div class = "col-sm-8 col-md-8">
            <h1><b>{{item.title| capfirst}}</b></h1>

            <div id = "itemswrapper" style="background-color: #f8f8f8"> <b>Description of item</b>
                <p> {{item.description}}</p>
                {% if item.function == 'edit'%}
                <a href="#" class="btn btn-info" onclick="edititem('{{item.title}}','{{item.description}}','{{item.category}}')" role="button">Edit Item</a>
                <a href="/item_catalog/catalog/{{item.category}}/{{item.title}}/delete" class="btn btn-info"  role="button">Delete Item</a>

                {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}
